/* Estilos del Header */
.header {
    position: fixed;
    z-index: 300;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 28px;
    background: #5600CD;
    white-space: nowrap;
    color: white;
    font-size: 14px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 12px;
    gap: 15px;
}

    .header .space {
        width: calc(100% - 30px);
    }

    .header a {
        color: #90caf9;
        white-space: nowrap;
    }

        .header a:hover {
            color: #bbdefb;
        }

        .header a:active {
            color: #42a5f5;
        }


.contents {
    position: absolute;
    top: 28px;
    left: 0px;
    width: 100%;
}
/* END OF HEADER STYLES */

body {
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
    background-color: #F4F5FB;
}

.obj--main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 15px 15px 15px;
    flex-direction: column;
}

.searchbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 60px;
    background: #E8EAF6;
    color: #3f51b5;
    padding: 0px 5px;
    margin-bottom: 10px;
}

    .searchbox input#txtBuscar {
        background: transparent;
        border: 0px solid grey;
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 0px 20px 0px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        transition: all 0.2s;
        outline: 0px;
    }

        .searchbox input#txtBuscar:focus {
            background: white;
        }

        .searchbox input#txtBuscar:not(:focus):hover {
            background: rgba(255, 255, 255, 0.7);
        }

    .searchbox #btnBuscar {
        transition: all 0.2s;
        border-radius: 50%;
    }

        .searchbox #btnBuscar:hover {
            background: rgba(63,81,181,0.05)
        }

        .searchbox #btnBuscar:active {
            background: rgba(63,81,181,0.1)
        }

.group {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#sexo_select {
    width: 130px !important;
}

.main-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .main-grid .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

.col.perfil {
    width: 500px;
}

.col.col.perfil img {
    border-radius: 4px;
    width: auto;
    height: 80px;
}

.mdc-button--raised.danger {
    background: rgb(244,67,54) !important;
}

.mdc-list-item__secondary-text {
    display: flex;
    align-items: center;
}

.mdc-list-item {
    padding-bottom: 5px;
    padding-top: 5px;
}

.table-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mdc-deprecated-list-item__graphic {
    width: 46px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 46px;
    margin-right: 12px;
}

.page {
    background-color: white;
    border: 1px solid #f3e5f5;
    border-radius: 7px;
    padding: 15px 30px 30px;
}


._header-profile-btn {
    text-transform: none;
    text-align: right;
}

._header-important-btn {
    background: rgba(3,169,244,1) !important;
}


.mdc-card.widget .mdc-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .mdc-card.widget .mdc-card__content .row {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0px 12px;
    }

._title {
    padding-top: 12px !important;
    padding-bottom: 6px !important;
    text-align: center;
}

._ltr {
    text-align: center;
}

.row._p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .row._p ._side {
        width: 100%;
    }

    .row._p ._side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.row ._side._primary {
    background: rgba(167,255,235,1);
    border-radius: 8px;
    margin: 5px;
}

* {
    box-sizing: border-box;
}


.prmv_lb {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: none;
    padding: 4px 0px;
}

.__secondary-txt {
    opacity: 0.6;
}
/* Estilo base para las cards */
.card-viewer .mdc-card {
    width: 100%;
    max-width: 300px;
    margin: 5px;
}

.card-viewer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}



@media screen and (max-width: 480px) {
    .mdc-card {
        max-width: 100%;
    }
}




aside.menu {
    width: 300px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #343434;
}

.mdc-card__actions {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.mcardbl-act {
    color: black;
    text-transform: none;
    letter-spacing: normal;
}


.card-viewer .mdc-card {
    margin: 5px;
}



@media screen and (min-width: 600px) and (max-width: 1299px) {
    .card-viewer {
        flex-direction: row;
        justify-content: center;
    }

    .big-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
        margin-right: 10px
    }

        .big-col .col-a {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 300px;
            width: 100%;
            margin: 0px 5px;
        }
}

@media screen and (max-width: 599px) {
    .card-viewer {
        flex-direction: column;
        justify-content: center;
    }

    .big-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

        .big-col .col-a {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0px 5px;
        }

    .mdc-card {
        width: 100%;
    }
}

@media screen and (min-width: 1250px) {
    .card-viewer {
        flex-direction: row;
    }

    .big-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

        .big-col .col-a {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
}